@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

.holo-logo {
    width: 100%;
    margin-bottom: 20px;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.foot-note hr {
	display: block;
    height: 1px;
    border: 0;
	border-top: 1px solid #444;
	margin: 0px 30px 10px 30px;
}

.foot-note {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 65px;
	padding: 15px;
	color: #aaa;
}

.foot-note a {
	color: #00b5ad;
}

.foot-note a:hover {
	color: #03ebdf;
	border-bottom: 1px solid #03ebdf;
}

.terminal-box {
	font-family: 'Cutive Mono', monospace;
	background-color: #a7a7a7;
	color: #6b0000;
	padding: 2px 5px;
	border-radius: 2px;
}

.mono-text {
	font-family: 'Cutive Mono', monospace;
	font-size: 15px;
	letter-spacing: .01px;
	color: #dac25b;
}

.on-click {
	color: #00b5ad;
}

.on-click:hover {
	color: #03ebdf;
	border-bottom: 1px solid #03ebdf;
	cursor: pointer;
}

.title-list {
	margin-block-start: -15px;
}

.title-list li {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 7px;
}