@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

.holo-logo {
    width: 100%;
    margin-bottom: 20px;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.terminal-box {
	font-family: 'Cutive Mono', monospace;
	background-color: #a7a7a7;
	color: #6b0000;
	padding: 2px 5px;
	border-radius: 2px;
}

.mono-text {
	font-family: 'Cutive Mono', monospace;
	font-size: 15px;
	letter-spacing: .01px;
	color: #dac25b;
}

.on-click {
	color: #00b5ad;
}

.on-click:hover {
	color: #03ebdf;
	border-bottom: 1px solid #03ebdf;
	cursor: pointer;
}

.title-list {
	margin-block-start: -15px;
}

.title-list li {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 7px;
}